<div>
  <h1>app-header子组件</h1>
  <h3>Output 子组件向父组件发送数据</h3>
  <button nz-button (click)="sendParent()">sendParent</button>
  <hr />

  <ng-container *ngTemplateOutlet="dynamicTpl"></ng-container>
  <ng-container *ngIf="true">
    <div>Content</div>
  </ng-container>

  <div class="lessons-list" *ngIf="lessons; else loading"></div>
  <ng-template [ngIf]="lessons" [ngIfElse]="loading">
    <div class="hero-list">...</div>
  </ng-template>

  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>

  <ng-template #dynamicTpl>
    <div class="deep-red">动态插槽ngTemplteOutlet 使用ng-container跟ngTemplateOutlet可以在组件的任何地方动态插入你想要的模板</div>
  </ng-template>

  <ng-content></ng-content>
  <ng-content select="header"></ng-content>
  <ng-content select="#demo"></ng-content>
  <ng-content select="[name=demo]"></ng-content>
</div>
