<page-header [title]="'查询表格'"></page-header>

<full-content (fullscreenChange)="fullChange($event)">
  <nz-card>

    <div nz-row>
      <div class="mb-md pb-md border-bottom-1">
        <button class="test1-1" nz-button nzType="primary" (click)="handleClick()">First Button</button>
        <button class="test1-2" nz-button nzType="link">Second Button</button>
        <button class="test1-3" nz-button nzType="dashed">Third Button</button>
      </div>
      <button nz-button (click)="start()">Start</button>
      <button nz-button (click)="viaHttp()">Start Via Http</button>
    </div>

   
    <div nz-row class="mb-md">
      <div nz-col nzSpan="12">
        <form nz-form nzLayout="inline" se-container>
          <se label="User ID" labelWidth="0">
            <input nz-input [(ngModel)]="args.userid" name="userid" id="userid" />
          </se>
          <se>
            <button nz-button [nzType]="'primary'" (click)="searchClick($event)" [nzLoading]="loading">Search</button>
            <button nz-button [disabled]="loading">Clear</button>
          </se>
        </form>
      </div>
      <div nz-col nzSpan="12">
        <div class="text-right">
          <button nz-button nz-dropdown [nzDropdownMenu]="exportMenu">
            <span>Export</span>
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #exportMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Excel</li>
              <li nz-menu-item>JSON</li>
              <li nz-menu-item>PNG</li>
            </ul>
          </nz-dropdown-menu>
          <button nz-button [nzType]="'default'" full-toggle class="ml-sm">Full</button>
        </div>
      </div>
    </div>
  </nz-card>
  <st #st [loading]="loading" [data]="dataSet"  [columns]="columns" [header]="extraTemplate"
    (change)="stChange($event)"></st>
    
  <ng-template #extraTemplate>
    <div nz-row>
      <div nz-col nzFlex="1">
        <div nz-row>
          <div nz-col nzFlex="1">标题</div>
          <div nz-col nzFlex="3">
            <div nz-row nzJustify="end">
              <button nz-button (click)="showModal(modalContent)" [nzType]="'primary'">
                <i nz-icon nzType="plus"></i>
                <span>新建</span>
              </button>
              <nz-divider [nzDashed]="true" nzType="vertical"></nz-divider>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 5px" nz-col nzFlex="0 0 100px">
        <a nz-tooltip [nzTooltipTitle]="'刷新'" (click)="getData()" [nzTooltipColor]="'#2db7f5'"
          class="ant-pro-table-list-toolbar-setting-item">
          <i nz-icon nzType="reload" style="font-size: 18px"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-tooltip [nzTooltipTitle]="'列设置'" [nzTooltipColor]="'#2db7f5'"
          class="ant-pro-table-list-toolbar-setting-item">
          <i nz-icon nzType="setting" style="font-size: 18px"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a full-toggle nz-tooltip
          [nzTooltipTitle]="(screenfullStatus ? 'menu.fullscreen.exit' : 'menu.fullscreen') | translate"
          [nzTooltipColor]="'#2db7f5'" class="ant-pro-table-list-toolbar-setting-item">
          <i nz-icon [nzType]="screenfullStatus ? 'fullscreen-exit' : 'fullscreen'" style="font-size: 18px"></i>
        </a>
      </div>
    </div>
  </ng-template>

</full-content>


<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">描述</nz-form-label>
    <nz-form-control>
      <input nz-input name="description" placeholder="请输入" id="no" />
    </nz-form-control>
  </nz-form-item>
</ng-template>