/* stylelint-disable order/properties-order */
// .ng-table-ul-columns.ant-dropdown-menu {
//   top: 4px;
//   min-width: 240px;
//   max-height: 469px;
//   padding: 16px 16px 16px 0;
//   // border: 1px solid rgba(204, 204, 204, 1);
//   border-radius: 4px;
//   box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);

//   .header {
//     padding-left: 16px;

//     .title {
//       color: #8d9199;
//     }

//     .action {
//       text-align: right;

//       a {
//         color: #5f80f0;
//       }
//     }
//   }

//   .selected-group {
//     max-height: 190px;
//     margin-top: 8px;
//     margin-bottom: 16px;
//     overflow: auto;
//     -ms-overflow-style: none;

//     &::-webkit-scrollbar {
//       display: none;
//     }

//     scrollbar-width: none;

//     li {
//       padding-left: 16px;
//     }
//   }

//   .footer {
//     padding-left: 16px;

//     .select-all {
//       a {
//         color: #5f80f0;
//       }
//     }

//     .actions {
//       float: right;

//       button {
//         min-width: 40px;
//         height: 24px;
//         padding: 0 8px;
//       }

//       .btn-cancel {
//         margin-right: 8px;
//       }
//     }
//   }
// }

.actions {
  display: flex;
  justify-content: space-between;
}

// :host {
//   ::ng-deep {
//     .page-header {
//       margin-right: 0;
//       margin-bottom: 0;
//       margin-left: 0;
//       padding: 12px 24px 0;
//       border-bottom: none;
//       border-radius: 8px;
//       box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
//     }
//   }
// }

.box {
  display: flex;
  // align-items: center;
  // justify-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid red;

  .box-item {
    width: 100px;
    background-color: antiquewhite;
  }

  .box-item1 {
    flex: 1;
    background-color: #5f80f0;
  }
}
