<ng-page-header
  [title]="'查询数据'"
  [description]="'描述信息描述信息描述信息描述信息描述信息描述信息描述信息描述信息描述信息描述信息'"
  [tab]="tab"
  [breadcrumbs]="breadcrumbs"
  [contentTpl]="content"
  [rowActions]="rowActions"
  [groupActions]="groupActions"
  [extraTpl]="extra"
  [globalActions]="globalActions"
>
  <ng-template #tab>
    <ng-tabs [tabs]="tabs" (tabClick)="tabClick($event)" [tabSelectedIndex]="tabSelectedIndex"></ng-tabs>
  </ng-template>
  <ng-template render-icon="vertical-align-bottom" let-i>
    <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
  </ng-template>
  <ng-template #content>
    <sv-container size="small" col="2">
      <sv label="创建人">曲丽丽</sv>
      <sv label="订购产品">XX 服务</sv>
      <sv label="创建时间">2017-07-07</sv>
      <sv label="关联单据"><a>12421</a></sv>
      <sv label="生效日期">2017-07-07 ~ 2017-08-08</sv>
      <sv label="备注">请于两个工作日内确认</sv>
    </sv-container>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">状态</p>
        <p class="text-lg">待审批</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">订单金额</p>
        <p class="text-lg">¥ 568.08</p>
      </div>
    </div>
  </ng-template>
</ng-page-header>

<!-- <text-ellipsis
  [lines]="1"
  [width]="'calc(100% - 108px)'"
  nz-tooltip
  title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo delectus repellat quisquam sint, animi a corrupti repudiandae vero dolorem
consectetur libero modi nostrum facilis nobis, praesentium porro quibusdam sequi officia? Lorem, ipsum dolor sit amet consectetur
adipisicing elit. Debitis exercitationem repellendus dolor cumque velit recusandae vitae corporis, possimus non odit sit a suscipit
doloribus quasi alias? Amet similique inventore tenetur!"
>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo delectus repellat quisquam sint, animi a corrupti repudiandae vero dolorem
  consectetur libero modi nostrum facilis nobis, praesentium porro quibusdam sequi officia? Lorem, ipsum dolor sit amet consectetur
  adipisicing elit. Debitis exercitationem repellendus dolor cumque velit recusandae vitae corporis, possimus non odit sit a suscipit
  doloribus quasi alias? Amet similique inventore tenetur!
</text-ellipsis> -->
<!-- <captcha-input></captcha-input>
<div #myBox> 我是一个dom节点 </div> -->
<ng-table
  #table
  [columns]="columns"
  [customColumns]="customColumns"
  [tableHeaderActions]="moreRowActions"
  [globalActions]="globalActions"
  [displayActionsLimit]="3"
  [groupActions]="groupActions"
  [selectedRows]="selectedRows"
  [exportOptions]="exportOptions"
  [showSetupColumn]="true"
  [st]="st"
  mat-fab
>
  <ng-template render-icon="setting" let-i>
    <i nz-icon nzType="setting" nzTheme="outline"></i>
  </ng-template>
  <ng-template render-icon="reload" let-i>
    <i nz-icon nzType="reload" nzTheme="outline"></i>
  </ng-template>
  <ng-template render-icon="vertical-align-bottom" let-i>
    <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
  </ng-template>
  <ng-template render-icon="plus" let-i>
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </ng-template>
  <st
    #st
    [columns]="columns"
    [data]="data"
    [loading]="loading"
    (change)="stChange($event)"
    [widthMode]="{ type: 'strict', strictBehavior: 'truncate' }"
    [page]="{ showSize: true, pageSizes: [10, 20, 30, 40, 50] }"
    [expand]="expand"
    expandRowByClick
    expandAccordion
  >
    <ng-template #expand let-item let-index="index" let-column="column">
      {{ item.description }}
    </ng-template>
  </st>
</ng-table>

<!-- <div class="box">
  <div class="box-item"> </div>
  <div class="box-item1"></div>
</div> -->
