.action-groups {
  width: 366px;
  border: 1px solid #d4d4da;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);

  &-button {
    display: flex;
    padding-top: 4px;

    .group-name {
      width: 90px;
      max-width: 90px;
      padding: 4px 0 0 16px;
      overflow: hidden;
      font-weight: 600;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .actions {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }
  }
}

.actions-dropdown-menu {
  li {
    display: block;
    width: 136px;
    padding: 4px 20px;
    overflow: hidden;
    color: #5f6167;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover,
    &:focus {
      color: #595959;
      background-color: #f6f7f9;
    }
  }

  .ant-dropdown-menu-item-disabled {
    color: #5f6167;
    opacity: 0.3;

    &:hover {
      color: #5f6167;
      background-color: #fff;
    }
  }

  &:not(:last-child) {
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(234 238 245 / 100%);
  }
}

.btn-container {
  padding-left: 5px;
}

.btn-space {
  margin-left: 5px;
}

.actions-space {
  margin-right: 5px;
  vertical-align: middle;
}

:host ::ng-deep {
  i {
    vertical-align: middle;
  }
}
