<nz-steps [nzCurrent]="item.step" nzSize="small">
  <nz-step nzTitle="选择验证方式"></nz-step>
  <nz-step nzTitle="验证身份"></nz-step>
  <nz-step nzTitle="修改手机号"></nz-step>
</nz-steps>
<div *ngIf="item.step === 0">
  <nz-alert nzType="info" nzMessage="为确认本人操作，请选择验证方式。"></nz-alert>
  <nz-radio-group [(ngModel)]="radioValue" style="margin-top: 30px; width: 100%">
    <label nz-radio-button [nzValue]="false" style="display: block; margin-bottom: 15px; height: 50px; line-height: 50px"
      >通过手机验证码验证</label
    >
    <label nz-radio-button [nzValue]="true" style="display: block; margin-bottom: 15px; height: 50px; line-height: 50px"
      >通过邮箱验证码验证</label
    >
  </nz-radio-group>
</div>

<div *ngIf="item.step === 1">
  <form nz-form [formGroup]="step1Form" nzLayout="vertical">
    <nz-form-item *ngIf="!item.radioValue">
      <nz-form-label nzRequired nzFor="mobile">验证手机号</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="mobile" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="item.radioValue">
      <nz-form-label nzRequired nzFor="email">验证邮箱</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="captcha">{{ item.radioValue ? '邮箱验证码' : '短信验证码' }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'请输入验证码！'" class="captcha">
        <nz-row nzGutter="8">
          <nz-col>
            <input nz-input formControlName="captcha" placeholder="captcha" />
          </nz-col>
          <nz-col>
            <a nz-button nzType="default" (click)="getCaptcha()" [disabled]="count > 0" [nzLoading]="loading" style="color: #5f80f0">
              {{ count ? '重新获取' + '(' + count + 's' + ')' : item.radioValue ? '获取邮箱验证码' : '获取短信验证码' }}
            </a>
          </nz-col>
        </nz-row>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *ngIf="item.step === 2">
  <form nz-form [formGroup]="step2Form" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="mobile">手机号</nz-form-label>
      <nz-form-control nzErrorTip="请输入手机号">
        <input nz-input formControlName="mobile" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="captcha">短信验证码</nz-form-label>
      <nz-form-control nzErrorTip="请输入验证码！">
        <nz-row nzGutter="8">
          <nz-col>
            <input nz-input formControlName="captcha" placeholder="captcha" />
          </nz-col>
          <nz-col>
            <a nz-button nzType="default" (click)="getCountDown()" [disabled]="count > 0" [nzLoading]="loading" style="color: #5f80f0">
              {{ count ? '重新获取' + '(' + count + 's' + ')' : ('获取短信验证码' | i18n) }}
            </a>
          </nz-col>
        </nz-row>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div *nzModalFooter>
  <button *ngIf="item.step !== 1" nz-button nzType="default" (click)="modalRef.close()">取消</button>
  <button *ngIf="item.step === 1" nz-button nzType="default" (click)="prev()">上一步</button>
  <button *ngIf="item.step !== 2" nz-button nzType="primary" (click)="submitForm()">下一步</button>
  <button *ngIf="item.step === 2" nz-button nzType="primary" [nzLoading]="modalRef.getConfig().nzOkLoading" (click)="modalRef.triggerOk()">
    确认
  </button>
</div>
