<form nz-form [formGroup]="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="mobile">验证手机号</nz-form-label>
    <nz-form-control [nzErrorTip]="mobileErrorTip">
      <input nz-input formControlName="mobile" />
      <ng-template #mobileErrorTip let-i>
        <ng-container *ngIf="form.get('mobile')!.hasError('required')">
          {{ '请输入手机号！' }}
        </ng-container>
        <ng-container *ngIf="form.get('mobile')!.hasError('pattern')">
          {{ '手机号格式错误！' }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="captcha">短信验证码</nz-form-label>
    <nz-form-control [nzErrorTip]="'请输入验证码！'" class="captcha">
      <input type="text" nz-input formControlName="captcha" placeholder="captcha" class="captcha-input" />
      <a
        class="item"
        nz-button
        nzType="link"
        (click)="getCaptcha()"
        [disabled]="count > 0"
        [nzLoading]="loading"
        [title]="count ? '重新获取' + '(' + count + 's' + ')' : ('Get verification code' | i18n)"
        [class.font-color]="!(count > 0)"
        [class.disabled-color]="count > 0"
      >
        {{ count ? '重新获取' + '(' + count + 's' + ')' : ('Get verification code' | i18n) }}
      </a>
    </nz-form-control>
  </nz-form-item>
</form>
