<div>
  <h3>子组件</h3>
  <p>{{myTitle}}</p>
  <p>{{id}}</p>
    <form [formGroup]="form">
        username: <input type="text" name="username" formControlName="username">
        hobby: 
          <select name="hobby" formControlName="hobby">
            <option value="sleep">sleep</option>
            <option value="play">play</option>
          </select>    
    </form>
    <div><code>observable|async</code>: Time: {{ time | async }}</div>
    <p>A: {{123 | currency}}</p>
    <p>A: {{123 | currency:'CNY'}}</p>
    <p>{{0|sex}}</p>
    <button (click)="del(123)">传值</button>

      <button (click)="sendMessage()">Send Message</button>
</div>