<form [formGroup]="formGroup" nz-form nzLayout="vertical" *ngIf="mode === 'configure'" class="">
  <nz-form-item *ngIf="modalState">
    <nz-form-label>{{
      (modalState.id === 'api_root_domain_name'
        ? 'global_config.operations.api_root_domain_name_field'
        : 'global_config.operations.api_root_external_access_address'
      ) | translate
    }}</nz-form-label>
    <nz-form-control [nzErrorTip]="rootServerApiAddressErrorTemplate">
      <input
        type="text"
        nz-input
        formControlName="rootServerApiAddress"
        placeholder="{{ 'global_config.operations.api_root_domain_name_field_placeholder' | translate }}"
      />
    </nz-form-control>
    <ng-template #rootServerApiAddressErrorTemplate let-control>
      <span *ngIf="control.hasError('required')">{{ 'global_config.operations.api_root_domain_name_field_placeholder' | translate }}</span>
      <span *ngIf="control.hasError('pattern')">{{
        'global_config.operations.api_root_domain_name_field_validate_pattern' | translate
      }}</span>
    </ng-template>
  </nz-form-item>
  <div class="left-actions">
    <a (click)="resetForm()">{{ 'global_config.common.restore_default' | translate }}</a>
  </div>
</form>
<div class="modal-title" *ngIf="mode === 'restore'">
  {{
    (modalState.id === 'api_root_domain_name'
      ? 'global_config.operations.api_root_domain_name_restore'
      : 'global_config.operations.api_root_external_access_address_restore'
    ) | translate
  }}
</div>
