<nz-input-group class="zm-input-group" nzCompact>
    <button nz-button (mousedown)="inputElement.down($event)" (mouseup)="inputElement.stop()"
        (mouseleave)="inputElement.stop()" [disabled]="inputElement.disabledDown" nzType="default"><i nz-icon
            nzType="minus" style="color: #d4d4da;" nzTheme="outline"></i></button>
    <nz-input-number class="zm-input-number" [nzSize]="nzSize" [nzMin]="nzMin" [nzMax]="nzMax" [nzParser]="nzParser"
        [nzPrecision]="nzPrecision" [nzPrecisionMode]="nzPrecisionMode" [nzPlaceHolder]="nzPlaceHolder"
        [nzStep]="nzStep" [nzInputMode]="nzInputMode" [nzId]="nzId" [nzDisabled]="nzDisabled"
        [nzAutoFocus]="nzAutoFocus" [nzFormatter]="nzFormatter" (nzFocus)="nzFocus.emit($event)"
        (nzBlur)="nzBlur.emit($event)" #inputElement>
    </nz-input-number>
    <button nz-button nzType="default" [disabled]="inputElement.disabledUp" (mousedown)="inputElement.up($event)"
        (mouseup)="inputElement.stop()" (mouseleave)="inputElement.stop()"><i nz-icon nzType="plus"
            style="color: #d4d4da;" nzTheme="outline"></i></button>
</nz-input-group>