<nz-card [nzBordered]="false" class="table-card">
  <div class="st-actions mb-bottom">
    <button-action
      [selectedRows]="selectedRows"
      [rowActions]="rowActions"
      [moreRowActions]="moreRowActions"
      [groupActions]="groupActions"
      [globalActions]="globalActions"
    >
    </button-action>
    <ng-container *ngIf="filterFacets.length > 0">
      <div style="width: 25%"> <input nz-input /> </div>
    </ng-container>
    <div>
      <ng-container *ngIf="exportOptions.show">
        <button nz-button (click)="exportOptions.exportXlsx()">
          <i nz-icon nzType="export" nzTheme="outline"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="showSetupColumn">
        <table-custom-columns [customColumns]="customColumns" [st]="st" class="pd-l-5"></table-custom-columns>
      </ng-container>
    </div>
  </div>
  <ng-content></ng-content>
  <!-- <st #st [data]="data" [columns]="columns"> </st> -->
</nz-card>
