<page-header [title]="'asdf'"></page-header>
<!-- <app-operators> </app-operators> -->
<nz-tag [nzColor]="'orange'">RTL</nz-tag>
<nz-divider></nz-divider>
<p dir="RTL" style="border: solid 1px #ccc">从右到左排列</p>
<nz-timeline>
  <nz-timeline-item nzColor="green">
    <nz-tag [nzColor]="'magenta'">扩展按钮样式</nz-tag>
    <nz-divider></nz-divider>
    <zm-button (click)="runParent()" nzType="success">
      <i nz-icon nzType="plus" style="color: #d4d4da" nzTheme="outline"></i>
    </zm-button>
    <nz-divider nzType="vertical"></nz-divider>
    <zm-button (click)="runParent()" nzType="default">
      <i nz-icon nzType="plus" style="color: #d4d4da" nzTheme="outline"></i>
    </zm-button>
    <nz-divider nzType="vertical"></nz-divider>
    <zm-button (click)="runParent()" nzType="warning">
      <i nz-icon nzType="plus" style="color: #d4d4da" nzTheme="outline"></i>
    </zm-button>
    <nz-divider nzType="vertical"></nz-divider>
    <zm-button (click)="runParent()" nzType="error">
      <i nz-icon nzType="plus" style="color: #d4d4da" nzTheme="outline"></i>
    </zm-button>
    <nz-divider nzType="vertical"></nz-divider>
    <zm-button (click)="runParent()" nzType="info">
      <i nz-icon nzType="plus" style="color: #d4d4da" nzTheme="outline"></i>
    </zm-button>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <nz-tag [nzColor]="'volcano'">扩展InputNumber</nz-tag>
    <nz-divider></nz-divider>
    <app-input-number [nzMin]="1" [nzMax]="10" [(ngModel)]="demoValue"></app-input-number>
  </nz-timeline-item>
  <nz-timeline-item nzColor="red">
    <nz-tag [nzColor]="'orange'">ng-content select属性</nz-tag>
    <nz-divider></nz-divider>
    <app-header (outer)="runParent($event)">
      <header>header - parent component content !!! -</header>
      <div id="demo">id selector - parent component content !!! -</div>
      <div name="demo">name - parent component content !!! -</div>
    </app-header>
  </nz-timeline-item>
  <nz-timeline-item>
    <nz-tag [nzColor]="'orange'">cdkCopyToClipboard</nz-tag>
    <nz-divider></nz-divider>
    <textarea nz-input [(ngModel)]="title"></textarea>
    <button nz-button (click)="copy()">Copy to clipboard</button>
    <button nz-button [cdkCopyToClipboard]="title">复制</button>
  </nz-timeline-item>
  <nz-timeline-item nzColor="red">
    <nz-tag [nzColor]="'orange'">Subject 多播</nz-tag>
    <nz-divider></nz-divider>
    <div>{{ alertMsg }}</div>
    <button nz-button (click)="sendMessage()">Send Message</button>
  </nz-timeline-item>
  <nz-timeline-item nzColor="gray">
    <nz-tag [nzColor]="'orange'">自定义指令</nz-tag>
    <nz-divider></nz-divider>
    <input nz-input appRainbow />
  </nz-timeline-item>
</nz-timeline>
