<page-header [title]="'asdf'"></page-header>
<div>
  {{ alertMsg }}
</div>
<button (click)="sendMessage()">Send Message</button>
<div>{{ myInput| sex }}</div>
<p appTest>My birthday is</p>
{{ birthday | date }}

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <button>Submit</button>
</form>

<p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
