/// Split `$string` into several parts using `$delimiter`.
/// @param {string} $string - String to split
/// @param {string} $delimiter ('') - String to use as a delimiter to split `$string`
/// @return {List}
///
@function str-split($string, $delimiter: '') {
  $result: ();
  $length: str-length($string);

  @if str-length($delimiter) == 0 {
    @for $i from 1 through $length {
      $result: append($result, str-slice($string, $i, $i));
    }

    @return $result;
  }

  $running: true;
  $remaining: $string;

  @while $running {
    $index: str-index($remaining, $delimiter);

    @if $index {
      $slice: str-slice($remaining, 1, $index - 1);

      @if (str-length($slice) > 0) {
        $result: append($result, $slice);
      }

      $remaining: str-slice($remaining, $index + str-length($delimiter));
    } @else {
      $running: false;
    }
  }

  @return append($result, $remaining);
}
