<!-- <div style="padding: 15px">
  <ng-select [option]="option" [nzMode]="'multiple'" [selectAllText]="'选中全部'" (onChange)="chage($event)"> </ng-select>
</div>

<div>
  <sizer [(size)]="fontSizePx"></sizer>
  <br />
  <label>Number: <input type="number" [(ngModel)]="fontSizePx" /></label>
</div>
<br />
<div>
  <sizer [size]="fontSizePx" (sizeChange)="fontSizePx = $event"></sizer>
</div> -->

<!-- <div>{{ 0 | sex }}</div> -->

<!-- <nz-select nzShowSearch ngFilterOption nzPlaceHolder="Select a person">
  <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
  <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
  <nz-option nzLabel="Tom" nzValue="tom" nzDisabled></nz-option>
</nz-select> -->

<div title="我是title">111</div>
