<page-header [title]="''" [breadcrumb]="breadcrumb" [content]="content" [tab]="tabTemplate" [extra]="extra">
  <ng-template #breadcrumb>
    <div class="page-header__detail">
      <div class="page-header__logo page-logo">
        <svg
          width="12px"
          height="12px"
          viewBox="0 0 12 12"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-268.000000, -84.000000)" fill="#5237D5" fill-rule="nonzero">
              <g transform="translate(264.000000, 80.000000)">
                <g transform="translate(4.000000, 4.000000)">
                  <polygon
                    points="4.68976144 0.7 5.7922411 1.55718166 2.81964058 5.30616509 11.5 5.30664119 11.5 6.69482786 2.83628463 6.69435176 5.79340227 10.4457564 4.68860028 11.3 0.5 5.98605949"
                  ></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="page-header__main">
        <div class="page-header__row">
          <div class="page-header__title">
            <div> {{ title }} </div>
            <div>
              <ng-container *ngIf="breadcrumbs.length > 0">
                <breadcrumb [breadcrumbs]="breadcrumbs"> </breadcrumb>
              </ng-container>
            </div>
          </div>
          <div class="page-header__action">
            <button-action
              style="display: inline-flex"
              [rowActions]="rowActions"
              [moreRowActions]="moreRowActions"
              [groupActions]="groupActions"
              [globalActions]="globalActions"
              [btnType]="'primary'"
            >
            </button-action>
          </div>
        </div>
        <div class="page-header__row">
          <div class="page-header__desc" hidden=""></div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #content>
    <div *ngIf="description" class="desc">
      {{ description }}
    </div>
    <ng-container *ngIf="!description" [ngTemplateOutlet]="contentTpl"> </ng-container>
  </ng-template>
  <ng-template #extra>
    <ng-container [ngTemplateOutlet]="extraTpl"> </ng-container>
  </ng-template>
  <ng-template #tabTemplate>
    <ng-container [ngTemplateOutlet]="tab"> </ng-container>
  </ng-template>
</page-header>
